.youtube {
    color: #EE0F0F;
}

.github {
    color: #000000;
}

.researchgate {
    color: #00CCBB;
}

.orcid {
    color: #A6CE39;
}

.google-scholar {
    color: #4285F4;
}

.md-typeset h2 {
    font-size: 24px;
}

.md-typeset p {
    font-size: 16px;
}

.md-typeset li {
    font-size: 16px;
}