/* :root {
    --md-primary-fg-color: #012169;
    --md-primary-fg-color--light: #012169;
    --md-primary-fg-color--dark: #012169;
} */

.md-typeset h1 {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.md-typeset h2 {
    font-size: 24px;
    font-weight: bold;
}

.md-typeset h3 {
    font-size: 20px;
    font-weight: bold;
}

.md-typeset p {
    font-size: 16px;
}

.md-typeset li {
    font-size: 16px;
    margin: 0%;
}