:root {
    --md-primary-fg-color: #012169;
    --md-primary-fg-color--light: #012169;
    --md-primary-fg-color--dark: #012169;
}

.md-content .md-typeset h1 {
    display: none;
}

.md-typeset h2 {
    font-size: 24px;
    font-weight: bold;
    color: #012169;
}

.md-typeset h3 {
    font-size: 20px;
    font-weight: normal;
    color: #000000;
}

.md-typeset p {
    font-size: 16px;
}

.md-typeset li {
    font-size: 16px;
    margin: 0%;
}