:root {
    --md-primary-fg-color: #012169;
    --md-primary-fg-color--light: #012169;
    --md-primary-fg-color--dark: #012169;
}

.md-typeset h2 {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.md-typeset h3 {
    font-size: 20px;
    font-weight: normal;
    color: #000000;
}

.md-typeset p {
    font-size: 16px;
}

.md-typeset li {
    font-size: 16px;
    margin: 0%;
}

.md-typeset a {
    color: #4A90E2;
}

.md-typeset a:hover {
    color: #FF6600;
    text-decoration: underline;
}

.md-typeset a:visited {
    color: #4A90E2;
}

.md-typeset a:visited:hover {
    color: #FF6600;
    text-decoration: underline;
}