.md-typeset h2 {
    font-size: 24px;
    font-weight: bold;
    color: darkblue;
}

.md-typeset h3 {
    font-size: 20px;
    font-weight: normal;
    color: #000000;
}

.md-typeset p {
    font-size: 16px;
}

.md-typeset li {
    font-size: 16px;
    margin: 0%;
}